/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
body {
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/BackgroundImage.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* font-family: "Poppins", sans-serif; */
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.content {
  max-width: 450px;
  width: 80%;
}
.content h2 {
  margin-top: 0;
}
p {
  font-size: 18px;
  margin: 40px 0;
}
.waitlist-btn {
  outline: none;
  padding: 10px 50px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #000;
}
.waitlist-btn:hover {
  background-color: rgb(96, 146, 96);
  color: #f5f6f7;
  border: none;
}
.footer {
  position: fixed;
  font-size: 14px;
  bottom: 0;
}

@media (max-width: 320px) {
  .logo {
    > img {
      width: 120px;
    }
  }

  .content {
    > h1 {
      font-size: 1.5rem;
    }

    > h2 {
      font-size: 1.25rem;
      margin-block-start: 1rem;
    }

    > p {
      font-size: 1rem;
    }
  }

  .waitlist-btn {
    padding: 8px 24px;
    font-size: 16px;
    margin-top: 10px;
  }

  p {
    font-size: 16px;
    margin: 16px 0;
  }
}
